body {
background-color:#fff;
margin: 0px auto;

}
#custom_calc_wrap{
	position:absolute;
	width:286px;
	height:500px;
	top:0px;
	left:0px;
}
#calc{
    display: block;
    width: 286px;
    margin: 0;
    height: 45px;
    line-height: 45px;
    background-color: pink;
}
#calc_html{
    display: block;
}
.calbody{
    width: 266px;
	background: #097C9B;
	border: 1px solid #ff0;
	padding: 10px;
}
h1{
 text-align: center;
 font-size: 40px;
 color: #003652;

}
h1#calc{
 text-align: center;
 font-size: 40px;
 color: #003652;

}

#lcd{
	text-align: right;
	width: 242px;
	height: 40px;
	font-size: 18px;

}

#lcdu{
	color: grey;
	text-align: right;
	width: 242px;
	height: 35px;
	font-size: 15px;

}

button{
 background-color: #fff;
 width: 80px;
 height: 60px;
 font-size: 20px;
 border: 1px solid #097C9B;


}

button:hover{
  background-color: #509CA9;

 }
#calbutton button {
    width: 50px;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}
