
	<div id="grid-snap" class="calbody">
		<form name="lcdform">
			<input id="lcdu" name="lcdsu" type="text" value="" />
			<input id="lcd" name="lcds" type="text" value="0" />
		</form>
		<div id="calbutton">
			<button id="num1">1</button>
			<button id="num2">2</button>
			<button id="num3" >3</button>
			<button id="operationplus" >+</button>
			<button id="operationraistop">^</button>

			<button id="num4">4</button>
			<button id="num5">5</button>
			<button id="num6">6</button>
			<button id="operationmult">*</button>
			<button id="operationsqrt">Sqrt()</button>

			<button id="num7">7</button>
			<button id="num8" >8</button>
			<button id="num9" >9</button>
			<button id="operationminus" >-</button>
			<button id="clr">C</button>

			<button id="operationperc" >%</button>
			<button id="num0">0</button>
			<button id="num00" >00</button>
			<button id="operationdivid" >/</button>
			<button id="submit">=</button>
		</div>
	</div>
